@font-face {
	font-family: 'inone';
	src:url('fonts/inone.eot');
	src:url('fonts/inone.eot?#iefix') format('embedded-opentype'),
		url('fonts/inone.ttf') format('truetype'),
		url('fonts/inone.woff') format('woff'),
		url('fonts/inone.svg#inone') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'inone';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zune:before {
	content: "\e600";
}
.icon-youtube_play:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-xbox:before {
	content: "\e603";
}
.icon-windowsphone:before {
	content: "\e604";
}
.icon-window_simple:before {
	content: "\e605";
}
.icon-window_restore:before {
	content: "\e606";
}
.icon-window_minimize:before {
	content: "\e607";
}
.icon-window_maximize:before {
	content: "\e608";
}
.icon-window_closed:before {
	content: "\e609";
}
.icon-window_casement_closed:before {
	content: "\e60a";
}
.icon-window_casement:before {
	content: "\e60b";
}
.icon-window:before {
	content: "\e60c";
}
.icon-webcam:before {
	content: "\e60d";
}
.icon-weather_thunder:before {
	content: "\e60e";
}
.icon-weather_symbol:before {
	content: "\e60f";
}
.icon-weather_sun_set:before {
	content: "\e610";
}
.icon-weather_sun_rise:before {
	content: "\e611";
}
.icon-weather_sun:before {
	content: "\e612";
}
.icon-weather_station:before {
	content: "\e613";
}
.icon-weather_snow:before {
	content: "\e614";
}
.icon-weather_rain:before {
	content: "\e615";
}
.icon-weather_overcast:before {
	content: "\e616";
}
.icon-weather_chance:before {
	content: "\e617";
}
.icon-water_droplet_reflection:before {
	content: "\e618";
}
.icon-water_droplet_alert:before {
	content: "\e619";
}
.icon-water_droplet:before {
	content: "\e61a";
}
.icon-warning_circle:before {
	content: "\e61b";
}
.icon-warning:before {
	content: "\e61c";
}
.icon-visualstudio_news:before {
	content: "\e61d";
}
.icon-visualstudio:before {
	content: "\e61e";
}
.icon-vip_lowercase:before {
	content: "\e61f";
}
.icon-vip:before {
	content: "\e620";
}
.icon-video_standarddefinition:before {
	content: "\e621";
}
.icon-video_send:before {
	content: "\e622";
}
.icon-video_highdefinition:before {
	content: "\e623";
}
.icon-video_gallery:before {
	content: "\e624";
}
.icon-video:before {
	content: "\e625";
}
.icon-vector_star:before {
	content: "\e626";
}
.icon-vector_rectangle:before {
	content: "\e627";
}
.icon-vector_polygon:before {
	content: "\e628";
}
.icon-vector_pen_minus:before {
	content: "\e629";
}
.icon-vector_pen_convert:before {
	content: "\e62a";
}
.icon-vector_pen_add:before {
	content: "\e62b";
}
.icon-vector_pen:before {
	content: "\e62c";
}
.icon-vector_line_spline:before {
	content: "\e62d";
}
.icon-vector_line_curve:before {
	content: "\e62e";
}
.icon-vector_line:before {
	content: "\e62f";
}
.icon-vector_group_removed:before {
	content: "\e630";
}
.icon-vector_group:before {
	content: "\e631";
}
.icon-vector_circle:before {
	content: "\e632";
}
.icon-user_tie:before {
	content: "\e633";
}
.icon-user_minus:before {
	content: "\e634";
}
.icon-user_delete:before {
	content: "\e635";
}
.icon-user_add:before {
	content: "\e636";
}
.icon-user:before {
	content: "\e637";
}
.icon-usb_drive:before {
	content: "\e638";
}
.icon-usb:before {
	content: "\e639";
}
.icon-upload:before {
	content: "\e63a";
}
.icon-unlock_keyhole:before {
	content: "\e63b";
}
.icon-unlock:before {
	content: "\e63c";
}
.icon-undo_point:before {
	content: "\e63d";
}
.icon-undo_curve:before {
	content: "\e63e";
}
.icon-undo:before {
	content: "\e63f";
}
.icon-tv_syfy:before {
	content: "\e640";
}
.icon-tv_remote:before {
	content: "\e641";
}
.icon-tv_news:before {
	content: "\e642";
}
.icon-tv:before {
	content: "\e643";
}
.icon-tux:before {
	content: "\e644";
}
.icon-truck:before {
	content: "\e645";
}
.icon-trophy:before {
	content: "\e646";
}
.icon-tree_pine:before {
	content: "\e647";
}
.icon-tree_leaf_three:before {
	content: "\e648";
}
.icon-tree_leaf:before {
	content: "\e649";
}
.icon-tree:before {
	content: "\e64a";
}
.icon-transit_hazard:before {
	content: "\e64b";
}
.icon-transit_distance_to:before {
	content: "\e64c";
}
.icon-transit_distance_from:before {
	content: "\e64d";
}
.icon-transit_depart:before {
	content: "\e64e";
}
.icon-transit_construction:before {
	content: "\e64f";
}
.icon-transit_connection_departure:before {
	content: "\e650";
}
.icon-transit_connection:before {
	content: "\e651";
}
.icon-transit_congestion:before {
	content: "\e652";
}
.icon-transit_car_accident:before {
	content: "\e653";
}
.icon-transit_car:before {
	content: "\e654";
}
.icon-transit_bus:before {
	content: "\e655";
}
.icon-transit_arrive:before {
	content: "\e656";
}
.icon-transform_rotate_right:before {
	content: "\e657";
}
.icon-transform_rotate_left:before {
	content: "\e658";
}
.icon-transform_rotate_counterclockwise:before {
	content: "\e659";
}
.icon-transform_rotate_clockwise:before {
	content: "\e65a";
}
.icon-transform_flip_vertical:before {
	content: "\e65b";
}
.icon-transform_flip_horizontal:before {
	content: "\e65c";
}
.icon-train_tunnel:before {
	content: "\e65d";
}
.icon-train_track:before {
	content: "\e65e";
}
.icon-train:before {
	content: "\e65f";
}
.icon-tower:before {
	content: "\e660";
}
.icon-tournament_bracket_up:before {
	content: "\e661";
}
.icon-tournament_bracket_right:before {
	content: "\e662";
}
.icon-tournament_bracket_left:before {
	content: "\e663";
}
.icon-tournament_bracket_down:before {
	content: "\e664";
}
.icon-tournament_bracket:before {
	content: "\e665";
}
.icon-tools:before {
	content: "\e666";
}
.icon-timer_stop:before {
	content: "\e667";
}
.icon-timer_rewind:before {
	content: "\e668";
}
.icon-timer_record:before {
	content: "\e669";
}
.icon-timer_play:before {
	content: "\e66a";
}
.icon-timer_pause:before {
	content: "\e66b";
}
.icon-timer_forward:before {
	content: "\e66c";
}
.icon-timer_check:before {
	content: "\e66d";
}
.icon-timer_alert:before {
	content: "\e66e";
}
.icon-timer_5:before {
	content: "\e66f";
}
.icon-timer_4:before {
	content: "\e670";
}
.icon-timer_3:before {
	content: "\e671";
}
.icon-timer_2:before {
	content: "\e672";
}
.icon-timer_1:before {
	content: "\e673";
}
.icon-timer:before {
	content: "\e674";
}
.icon-tiles_sixteen:before {
	content: "\e675";
}
.icon-tiles_plus:before {
	content: "\e676";
}
.icon-tiles_nine:before {
	content: "\e677";
}
.icon-tiles_minus:before {
	content: "\e678";
}
.icon-tiles_four:before {
	content: "\e679";
}
.icon-ticket:before {
	content: "\e67a";
}
.icon-thumbs_up:before {
	content: "\e67b";
}
.icon-thumbs_down:before {
	content: "\e67c";
}
.icon-thumb_up_minus:before {
	content: "\e67d";
}
.icon-thumb_up_delete:before {
	content: "\e67e";
}
.icon-thumb_up_add:before {
	content: "\e67f";
}
.icon-thermometer_signs:before {
	content: "\e680";
}
.icon-thermometer_kelvin:before {
	content: "\e681";
}
.icon-thermometer_honeywell:before {
	content: "\e682";
}
.icon-thermometer_fahrenheit:before {
	content: "\e683";
}
.icon-thermometer_digital:before {
	content: "\e684";
}
.icon-thermometer_celcius:before {
	content: "\e685";
}
.icon-thermometer:before {
	content: "\e686";
}
.icon-text_underline:before {
	content: "\e687";
}
.icon-text_strikethrough:before {
	content: "\e688";
}
.icon-text_size_up:before {
	content: "\e689";
}
.icon-text_size_plus:before {
	content: "\e68a";
}
.icon-text_size_minus:before {
	content: "\e68b";
}
.icon-text_size_down:before {
	content: "\e68c";
}
.icon-text_size:before {
	content: "\e68d";
}
.icon-text_serif:before {
	content: "\e68e";
}
.icon-text_script:before {
	content: "\e68f";
}
.icon-text_sans:before {
	content: "\e690";
}
.icon-text_overline:before {
	content: "\e691";
}
.icon-text_italic:before {
	content: "\e692";
}
.icon-text_bold:before {
	content: "\e693";
}
.icon-text_align_right:before {
	content: "\e694";
}
.icon-text_align_left:before {
	content: "\e695";
}
.icon-text_align_justify:before {
	content: "\e696";
}
.icon-text_align_center:before {
	content: "\e697";
}
.icon-tardis:before {
	content: "\e698";
}
.icon-tag_label:before {
	content: "\e699";
}
.icon-tag:before {
	content: "\e69a";
}
.icon-tablet_windows:before {
	content: "\e69b";
}
.icon-table_unselect:before {
	content: "\e69c";
}
.icon-table_select:before {
	content: "\e69d";
}
.icon-table_delete:before {
	content: "\e69e";
}
.icon-table_add:before {
	content: "\e69f";
}
.icon-table:before {
	content: "\e6a0";
}
.icon-symbol_bracket:before {
	content: "\e6a1";
}
.icon-symbol_braces:before {
	content: "\e6a2";
}
.icon-switch_off:before {
	content: "\e6a3";
}
.icon-suitcase:before {
	content: "\e6a4";
}
.icon-stream:before {
	content: "\e6a5";
}
.icon-store:before {
	content: "\e6a6";
}
.icon-stop:before {
	content: "\e6a7";
}
.icon-stocking:before {
	content: "\e6a8";
}
.icon-stock_up:before {
	content: "\e6a9";
}
.icon-stock_down:before {
	content: "\e6aa";
}
.icon-stock:before {
	content: "\e6ab";
}
.icon-steam:before {
	content: "\e6ac";
}
.icon-starwars_sith:before {
	content: "\e6ad";
}
.icon-starwars_rebel:before {
	content: "\e6ae";
}
.icon-starwars_jedi:before {
	content: "\e6af";
}
.icon-star_remove:before {
	content: "\e6b0";
}
.icon-star_minus:before {
	content: "\e6b1";
}
.icon-star_invincible:before {
	content: "\e6b2";
}
.icon-star_delete:before {
	content: "\e6b3";
}
.icon-star_add:before {
	content: "\e6b4";
}
.icon-star:before {
	content: "\e6b5";
}
.icon-stamp_empty:before {
	content: "\e6b6";
}
.icon-stamp_at:before {
	content: "\e6b7";
}
.icon-stamp:before {
	content: "\e6b8";
}
.icon-stairs_up_reflect_horizontal:before {
	content: "\e6b9";
}
.icon-stairs_up:before {
	content: "\e6ba";
}
.icon-stairs_down_reflect_horizontal:before {
	content: "\e6bb";
}
.icon-stairs_down:before {
	content: "\e6bc";
}
.icon-sport_football:before {
	content: "\e6bd";
}
.icon-speakerphone:before {
	content: "\e6be";
}
.icon-source_pull:before {
	content: "\e6bf";
}
.icon-source_fork:before {
	content: "\e6c0";
}
.icon-sound_stereo_stack:before {
	content: "\e6c1";
}
.icon-sound_stereo:before {
	content: "\e6c2";
}
.icon-sound_mute:before {
	content: "\e6c3";
}
.icon-sound_left_right:before {
	content: "\e6c4";
}
.icon-sound_3:before {
	content: "\e6c5";
}
.icon-sound_2:before {
	content: "\e6c6";
}
.icon-sound_1:before {
	content: "\e6c7";
}
.icon-sound_0:before {
	content: "\e6c8";
}
.icon-sort_numeric_descending:before {
	content: "\e6c9";
}
.icon-sort_numeric_ascending:before {
	content: "\e6ca";
}
.icon-sort_numeric:before {
	content: "\e6cb";
}
.icon-sort_alphabetical_descending:before {
	content: "\e6cc";
}
.icon-sort_alphabetical_ascending:before {
	content: "\e6cd";
}
.icon-sort_alphabetical:before {
	content: "\e6ce";
}
.icon-sort:before {
	content: "\e6cf";
}
.icon-social_zappos:before {
	content: "\e6d0";
}
.icon-social_yelp:before {
	content: "\e6d1";
}
.icon-social_ycombinator:before {
	content: "\e6d2";
}
.icon-social_yahoo:before {
	content: "\e6d3";
}
.icon-social_wordpress_variant:before {
	content: "\e6d4";
}
.icon-social_wordpress:before {
	content: "\e6d5";
}
.icon-social_wikipedia:before {
	content: "\e6d6";
}
.icon-social_vimeo:before {
	content: "\e6d7";
}
.icon-social_uservoice:before {
	content: "\e6d8";
}
.icon-social_twitter_retweet:before {
	content: "\e6d9";
}
.icon-social_twitter_hashtag:before {
	content: "\e6da";
}
.icon-social_twitter:before {
	content: "\e6db";
}
.icon-social_tumblr:before {
	content: "\e6dc";
}
.icon-social_theverge:before {
	content: "\e6dd";
}
.icon-social_stackoverflow:before {
	content: "\e6de";
}
.icon-social_spotify:before {
	content: "\e6df";
}
.icon-social_soundcloud:before {
	content: "\e6e0";
}
.icon-social_slashdot:before {
	content: "\e6e1";
}
.icon-social_skype:before {
	content: "\e6e2";
}
.icon-social_sharethis:before {
	content: "\e6e3";
}
.icon-social_reddit:before {
	content: "\e6e4";
}
.icon-social_rdio:before {
	content: "\e6e5";
}
.icon-social_playstation:before {
	content: "\e6e6";
}
.icon-social_pinterest:before {
	content: "\e6e7";
}
.icon-social_picasa:before {
	content: "\e6e8";
}
.icon-social_openid:before {
	content: "\e6e9";
}
.icon-social_microsoft:before {
	content: "\e6ea";
}
.icon-social_linkedin_variant:before {
	content: "\e6eb";
}
.icon-social_linkedin:before {
	content: "\e6ec";
}
.icon-social_line:before {
	content: "\e6ed";
}
.icon-social_lastfm:before {
	content: "\e6ee";
}
.icon-social_kickstarter:before {
	content: "\e6ef";
}
.icon-social_jira:before {
	content: "\e6f0";
}
.icon-social_indiegogo:before {
	content: "\e6f1";
}
.icon-social_grooveshark:before {
	content: "\e6f2";
}
.icon-social_github_octocat_solid:before {
	content: "\e6f3";
}
.icon-social_github_octocat:before {
	content: "\e6f4";
}
.icon-social_github:before {
	content: "\e6f5";
}
.icon-social_gdgt:before {
	content: "\e6f6";
}
.icon-social_foursquare:before {
	content: "\e6f7";
}
.icon-social_facebook_variant:before {
	content: "\e6f8";
}
.icon-social_facebook_heart_break:before {
	content: "\e6f9";
}
.icon-social_facebook_heart:before {
	content: "\e6fa";
}
.icon-social_facebook:before {
	content: "\e6fb";
}
.icon-social_evernote:before {
	content: "\e6fc";
}
.icon-social_etsy:before {
	content: "\e6fd";
}
.icon-social_engadget:before {
	content: "\e6fe";
}
.icon-social_drupal:before {
	content: "\e6ff";
}
.icon-social_dropbox_upload:before {
	content: "\e700";
}
.icon-social_dropbox_download:before {
	content: "\e701";
}
.icon-social_dropbox:before {
	content: "\e702";
}
.icon-social_dribbble:before {
	content: "\e703";
}
.icon-social_disqus:before {
	content: "\e704";
}
.icon-social_digg_variant:before {
	content: "\e705";
}
.icon-social_digg:before {
	content: "\e706";
}
.icon-social_deviantart:before {
	content: "\e707";
}
.icon-social_delicious:before {
	content: "\e708";
}
.icon-social_coding4fun:before {
	content: "\e709";
}
.icon-social_cloudapp:before {
	content: "\e70a";
}
.icon-social_blogger:before {
	content: "\e70b";
}
.icon-social_behance:before {
	content: "\e70c";
}
.icon-social_bebo:before {
	content: "\e70d";
}
.icon-social_basecamp:before {
	content: "\e70e";
}
.icon-social_baidu:before {
	content: "\e70f";
}
.icon-social_aws:before {
	content: "\e710";
}
.icon-social_arto:before {
	content: "\e711";
}
.icon-social_artcom:before {
	content: "\e712";
}
.icon-social_appnet:before {
	content: "\e713";
}
.icon-social_apple_mobileme:before {
	content: "\e714";
}
.icon-social_apple_appstore:before {
	content: "\e715";
}
.icon-social_apple:before {
	content: "\e716";
}
.icon-social_amazon_appstore:before {
	content: "\e717";
}
.icon-social_amazon:before {
	content: "\e718";
}
.icon-social_aim_variant:before {
	content: "\e719";
}
.icon-social_aim:before {
	content: "\e71a";
}
.icon-snowman:before {
	content: "\e71b";
}
.icon-snowflake:before {
	content: "\e71c";
}
.icon-smiley_what:before {
	content: "\e71d";
}
.icon-smiley_tounge:before {
	content: "\e71e";
}
.icon-smiley_squint:before {
	content: "\e71f";
}
.icon-smiley_kiki:before {
	content: "\e720";
}
.icon-smiley_happy:before {
	content: "\e721";
}
.icon-smiley_grumpy:before {
	content: "\e722";
}
.icon-smiley_grin:before {
	content: "\e723";
}
.icon-smiley_glasses:before {
	content: "\e724";
}
.icon-smiley_frown:before {
	content: "\e725";
}
.icon-smiley_cry:before {
	content: "\e726";
}
.icon-smiley_angry:before {
	content: "\e727";
}
.icon-slice:before {
	content: "\e728";
}
.icon-sleep:before {
	content: "\e729";
}
.icon-skydrive_upload:before {
	content: "\e72a";
}
.icon-skydrive_download:before {
	content: "\e72b";
}
.icon-skydrive:before {
	content: "\e72c";
}
.icon-simcard_micro:before {
	content: "\e72d";
}
.icon-simcard:before {
	content: "\e72e";
}
.icon-sign_stop:before {
	content: "\e72f";
}
.icon-sign_parking:before {
	content: "\e730";
}
.icon-sign_interstate_95:before {
	content: "\e731";
}
.icon-sign_interstate_94:before {
	content: "\e732";
}
.icon-sign_interstate_75:before {
	content: "\e733";
}
.icon-sign_interstate:before {
	content: "\e734";
}
.icon-sign_caution:before {
	content: "\e735";
}
.icon-sidebar_right_expand:before {
	content: "\e736";
}
.icon-sidebar_right_collapse:before {
	content: "\e737";
}
.icon-sidebar_left_expand:before {
	content: "\e738";
}
.icon-sidebar_left_collapse:before {
	content: "\e739";
}
.icon-shuffle:before {
	content: "\e73a";
}
.icon-shotglass:before {
	content: "\e73b";
}
.icon-shopping:before {
	content: "\e73c";
}
.icon-shield_alert:before {
	content: "\e73d";
}
.icon-shield:before {
	content: "\e73e";
}
.icon-share_open:before {
	content: "\e73f";
}
.icon-share:before {
	content: "\e740";
}
.icon-settings:before {
	content: "\e741";
}
.icon-section_expand_all:before {
	content: "\e742";
}
.icon-section_expand:before {
	content: "\e743";
}
.icon-section_collapse_all:before {
	content: "\e744";
}
.icon-section_collapse:before {
	content: "\e745";
}
.icon-sd_micro:before {
	content: "\e746";
}
.icon-sd:before {
	content: "\e747";
}
.icon-scrabble_z:before {
	content: "\e748";
}
.icon-scrabble_y:before {
	content: "\e749";
}
.icon-scrabble_x:before {
	content: "\e74a";
}
.icon-scrabble_w:before {
	content: "\e74b";
}
.icon-scrabble_v:before {
	content: "\e74c";
}
.icon-scrabble_u:before {
	content: "\e74d";
}
.icon-scrabble_t:before {
	content: "\e74e";
}
.icon-scrabble_s:before {
	content: "\e74f";
}
.icon-scrabble_r:before {
	content: "\e750";
}
.icon-scrabble_q:before {
	content: "\e751";
}
.icon-scrabble_p:before {
	content: "\e752";
}
.icon-scrabble_o:before {
	content: "\e753";
}
.icon-scrabble_n:before {
	content: "\e754";
}
.icon-scrabble_m:before {
	content: "\e755";
}
.icon-scrabble_l:before {
	content: "\e756";
}
.icon-scrabble_k:before {
	content: "\e757";
}
.icon-scrabble_j:before {
	content: "\e758";
}
.icon-scrabble_i:before {
	content: "\e759";
}
.icon-scrabble_h:before {
	content: "\e75a";
}
.icon-scrabble_g:before {
	content: "\e75b";
}
.icon-scrabble_f:before {
	content: "\e75c";
}
.icon-scrabble_e:before {
	content: "\e75d";
}
.icon-scrabble_d:before {
	content: "\e75e";
}
.icon-scrabble_c:before {
	content: "\e75f";
}
.icon-scrabble_b:before {
	content: "\e760";
}
.icon-scrabble_a:before {
	content: "\e761";
}
.icon-scale_unbalanced:before {
	content: "\e762";
}
.icon-scale:before {
	content: "\e763";
}
.icon-save:before {
	content: "\e764";
}
.icon-sailboat:before {
	content: "\e765";
}
.icon-ruler:before {
	content: "\e766";
}
.icon-rss:before {
	content: "\e767";
}
.icon-ring:before {
	content: "\e768";
}
.icon-ribbon_wave:before {
	content: "\e769";
}
.icon-ribbon:before {
	content: "\e76a";
}
.icon-return:before {
	content: "\e76b";
}
.icon-reset:before {
	content: "\e76c";
}
.icon-reply_people:before {
	content: "\e76d";
}
.icon-reply_email:before {
	content: "\e76e";
}
.icon-reply_calendar:before {
	content: "\e76f";
}
.icon-repeat:before {
	content: "\e770";
}
.icon-refresh_counterclockwise_up:before {
	content: "\e771";
}
.icon-refresh_counterclockwise_down:before {
	content: "\e772";
}
.icon-refresh_clockwise_up:before {
	content: "\e773";
}
.icon-refresh_clockwise_down:before {
	content: "\e774";
}
.icon-refresh:before {
	content: "\e775";
}
.icon-redo_point:before {
	content: "\e776";
}
.icon-redo_curve:before {
	content: "\e777";
}
.icon-redo:before {
	content: "\e778";
}
.icon-radioactive:before {
	content: "\e779";
}
.icon-radar_screen:before {
	content: "\e77a";
}
.icon-radar:before {
	content: "\e77b";
}
.icon-quote_right:before {
	content: "\e77c";
}
.icon-quote_left:before {
	content: "\e77d";
}
.icon-quill:before {
	content: "\e77e";
}
.icon-question:before {
	content: "\e77f";
}
.icon-qr:before {
	content: "\e780";
}
.icon-puzzle_round:before {
	content: "\e781";
}
.icon-puzzle:before {
	content: "\e782";
}
.icon-protractor:before {
	content: "\e783";
}
.icon-projector_screen:before {
	content: "\e784";
}
.icon-projector:before {
	content: "\e785";
}
.icon-progress:before {
	content: "\e786";
}
.icon-printer_text:before {
	content: "\e787";
}
.icon-printer_blank:before {
	content: "\e788";
}
.icon-printer:before {
	content: "\e789";
}
.icon-present:before {
	content: "\e78a";
}
.icon-power:before {
	content: "\e78b";
}
.icon-potion:before {
	content: "\e78c";
}
.icon-pokeball:before {
	content: "\e78d";
}
.icon-plant:before {
	content: "\e78e";
}
.icon-plane_rotated_135:before {
	content: "\e78f";
}
.icon-plane_rotated_45:before {
	content: "\e790";
}
.icon-plane:before {
	content: "\e791";
}
.icon-places:before {
	content: "\e792";
}
.icon-pin_remove:before {
	content: "\e793";
}
.icon-pin:before {
	content: "\e794";
}
.icon-pie_quarter:before {
	content: "\e795";
}
.icon-pie:before {
	content: "\e796";
}
.icon-phone_voicemail:before {
	content: "\e797";
}
.icon-phone_hangup:before {
	content: "\e798";
}
.icon-phone:before {
	content: "\e799";
}
.icon-percent_off:before {
	content: "\e79a";
}
.icon-people_up:before {
	content: "\e79b";
}
.icon-people_status:before {
	content: "\e79c";
}
.icon-people_sensor_variant:before {
	content: "\e79d";
}
.icon-people_sensor:before {
	content: "\e79e";
}
.icon-people_right:before {
	content: "\e79f";
}
.icon-people_profile:before {
	content: "\e7a0";
}
.icon-people_multiple_magnify:before {
	content: "\e7a1";
}
.icon-people_multiple:before {
	content: "\e7a2";
}
.icon-people_magnify:before {
	content: "\e7a3";
}
.icon-people_left:before {
	content: "\e7a4";
}
.icon-people_down:before {
	content: "\e7a5";
}
.icon-people_checkbox:before {
	content: "\e7a6";
}
.icon-people_arrow_right:before {
	content: "\e7a7";
}
.icon-people_arrow_left:before {
	content: "\e7a8";
}
.icon-people:before {
	content: "\e7a9";
}
.icon-paypal:before {
	content: "\e7aa";
}
.icon-paw:before {
	content: "\e7ab";
}
.icon-paperclip_rotated:before {
	content: "\e7ac";
}
.icon-paperclip:before {
	content: "\e7ad";
}
.icon-paper:before {
	content: "\e7ae";
}
.icon-palmtree_variant:before {
	content: "\e7af";
}
.icon-palmtree:before {
	content: "\e7b0";
}
.icon-page_xml:before {
	content: "\e7b1";
}
.icon-page_word:before {
	content: "\e7b2";
}
.icon-page_upload:before {
	content: "\e7b3";
}
.icon-page_text:before {
	content: "\e7b4";
}
.icon-page_solid_move:before {
	content: "\e7b5";
}
.icon-page_solid_cross:before {
	content: "\e7b6";
}
.icon-page_solid_add:before {
	content: "\e7b7";
}
.icon-page_solid:before {
	content: "\e7b8";
}
.icon-page_small:before {
	content: "\e7b9";
}
.icon-page_select:before {
	content: "\e7ba";
}
.icon-page_search:before {
	content: "\e7bb";
}
.icon-page_question:before {
	content: "\e7bc";
}
.icon-page_powerpoint:before {
	content: "\e7bd";
}
.icon-page_png:before {
	content: "\e7be";
}
.icon-page_pdf:before {
	content: "\e7bf";
}
.icon-page_onenote:before {
	content: "\e7c0";
}
.icon-page_new:before {
	content: "\e7c1";
}
.icon-page_music:before {
	content: "\e7c2";
}
.icon-page_multiple:before {
	content: "\e7c3";
}
.icon-page_minus:before {
	content: "\e7c4";
}
.icon-page_location_add:before {
	content: "\e7c5";
}
.icon-page_location:before {
	content: "\e7c6";
}
.icon-page_jpg:before {
	content: "\e7c7";
}
.icon-page_image:before {
	content: "\e7c8";
}
.icon-page_hidden:before {
	content: "\e7c9";
}
.icon-page_heartbreak:before {
	content: "\e7ca";
}
.icon-page_heart:before {
	content: "\e7cb";
}
.icon-page_file_pdf_tag:before {
	content: "\e7cc";
}
.icon-page_file_pdf:before {
	content: "\e7cd";
}
.icon-page_file_gif_tag:before {
	content: "\e7ce";
}
.icon-page_file_gif:before {
	content: "\e7cf";
}
.icon-page_excel:before {
	content: "\e7d0";
}
.icon-page_edit:before {
	content: "\e7d1";
}
.icon-page_duplicate:before {
	content: "\e7d2";
}
.icon-page_download:before {
	content: "\e7d3";
}
.icon-page_delete:before {
	content: "\e7d4";
}
.icon-page_cross:before {
	content: "\e7d5";
}
.icon-page_corner_text_break:before {
	content: "\e7d6";
}
.icon-page_corner_text:before {
	content: "\e7d7";
}
.icon-page_corner_grid:before {
	content: "\e7d8";
}
.icon-page_corner_folded_text:before {
	content: "\e7d9";
}
.icon-page_corner_folded_grid:before {
	content: "\e7da";
}
.icon-page_corner_folded:before {
	content: "\e7db";
}
.icon-page_corner_cells:before {
	content: "\e7dc";
}
.icon-page_corner_break:before {
	content: "\e7dd";
}
.icon-page_corner_bookmark:before {
	content: "\e7de";
}
.icon-page_corner:before {
	content: "\e7df";
}
.icon-page_copy:before {
	content: "\e7e0";
}
.icon-page_code:before {
	content: "\e7e1";
}
.icon-page_check:before {
	content: "\e7e2";
}
.icon-page_break:before {
	content: "\e7e3";
}
.icon-page_bold:before {
	content: "\e7e4";
}
.icon-page_arrow:before {
	content: "\e7e5";
}
.icon-page_add:before {
	content: "\e7e6";
}
.icon-page_9:before {
	content: "\e7e7";
}
.icon-page_8:before {
	content: "\e7e8";
}
.icon-page_7:before {
	content: "\e7e9";
}
.icon-page_6:before {
	content: "\e7ea";
}
.icon-page_5:before {
	content: "\e7eb";
}
.icon-page_4:before {
	content: "\e7ec";
}
.icon-page_3:before {
	content: "\e7ed";
}
.icon-page_2:before {
	content: "\e7ee";
}
.icon-page_1:before {
	content: "\e7ef";
}
.icon-page_0:before {
	content: "\e7f0";
}
.icon-page:before {
	content: "\e7f1";
}
.icon-outlet:before {
	content: "\e7f2";
}
.icon-os_x86:before {
	content: "\e7f3";
}
.icon-os_x64:before {
	content: "\e7f4";
}
.icon-os_windowsphone_round:before {
	content: "\e7f5";
}
.icon-os_windowsphone:before {
	content: "\e7f6";
}
.icon-os_windows_rt:before {
	content: "\e7f7";
}
.icon-os_windows_8:before {
	content: "\e7f8";
}
.icon-os_windows:before {
	content: "\e7f9";
}
.icon-os_ubuntu:before {
	content: "\e7fa";
}
.icon-os_ios:before {
	content: "\e7fb";
}
.icon-os_gnome:before {
	content: "\e7fc";
}
.icon-os_chromium:before {
	content: "\e7fd";
}
.icon-os_blackberry:before {
	content: "\e7fe";
}
.icon-os_arm:before {
	content: "\e7ff";
}
.icon-os_android:before {
	content: "\e800";
}
.icon-ornament_variant:before {
	content: "\e801";
}
.icon-ornament:before {
	content: "\e802";
}
.icon-opacity:before {
	content: "\e803";
}
.icon-office_word:before {
	content: "\e804";
}
.icon-office_visio:before {
	content: "\e805";
}
.icon-office_sharepoint:before {
	content: "\e806";
}
.icon-office_publisher:before {
	content: "\e807";
}
.icon-office_project:before {
	content: "\e808";
}
.icon-office_powerpoint:before {
	content: "\e809";
}
.icon-office_outlook:before {
	content: "\e80a";
}
.icon-office_onenote:before {
	content: "\e80b";
}
.icon-office_lync:before {
	content: "\e80c";
}
.icon-office_infopath:before {
	content: "\e80d";
}
.icon-office_excel:before {
	content: "\e80e";
}
.icon-office_access:before {
	content: "\e80f";
}
.icon-office_365:before {
	content: "\e810";
}
.icon-office:before {
	content: "\e811";
}
.icon-nyan:before {
	content: "\e812";
}
.icon-notification_star:before {
	content: "\e813";
}
.icon-notification_multiple:before {
	content: "\e814";
}
.icon-notification_above_multiple:before {
	content: "\e815";
}
.icon-notification_above:before {
	content: "\e816";
}
.icon-notification:before {
	content: "\e817";
}
.icon-noentry:before {
	content: "\e818";
}
.icon-nfc:before {
	content: "\e819";
}
.icon-newspaper:before {
	content: "\e81a";
}
.icon-new_window:before {
	content: "\e81b";
}
.icon-new:before {
	content: "\e81c";
}
.icon-network_port_disconnect:before {
	content: "\e81d";
}
.icon-network_port:before {
	content: "\e81e";
}
.icon-network_disconnect:before {
	content: "\e81f";
}
.icon-network:before {
	content: "\e820";
}
.icon-navigate_previous:before {
	content: "\e821";
}
.icon-navigate_next:before {
	content: "\e822";
}
.icon-music_wifi:before {
	content: "\e823";
}
.icon-music_select:before {
	content: "\e824";
}
.icon-music_live:before {
	content: "\e825";
}
.icon-music:before {
	content: "\e826";
}
.icon-movie_clapper_solid_select:before {
	content: "\e827";
}
.icon-movie_clapper_solid:before {
	content: "\e828";
}
.icon-movie_clapper_select:before {
	content: "\e829";
}
.icon-movie_clapper:before {
	content: "\e82a";
}
.icon-moon_waxing_gibbous:before {
	content: "\e82b";
}
.icon-moon_waxing_crescent:before {
	content: "\e82c";
}
.icon-moon_waning_gibbous:before {
	content: "\e82d";
}
.icon-moon_waning_crescent:before {
	content: "\e82e";
}
.icon-moon_third_quarter:before {
	content: "\e82f";
}
.icon-moon_sleep:before {
	content: "\e830";
}
.icon-moon_new:before {
	content: "\e831";
}
.icon-moon_full:before {
	content: "\e832";
}
.icon-moon_first_quarter:before {
	content: "\e833";
}
.icon-moon:before {
	content: "\e834";
}
.icon-mono:before {
	content: "\e835";
}
.icon-monitor_to:before {
	content: "\e836";
}
.icon-monitor_play:before {
	content: "\e837";
}
.icon-monitor_minus:before {
	content: "\e838";
}
.icon-monitor_identify:before {
	content: "\e839";
}
.icon-monitor_film:before {
	content: "\e83a";
}
.icon-monitor_delete:before {
	content: "\e83b";
}
.icon-monitor_add:before {
	content: "\e83c";
}
.icon-monitor:before {
	content: "\e83d";
}
.icon-money:before {
	content: "\e83e";
}
.icon-minus:before {
	content: "\e83f";
}
.icon-minecraft_civcraft:before {
	content: "\e840";
}
.icon-microsoft_tag:before {
	content: "\e841";
}
.icon-microphone_google:before {
	content: "\e842";
}
.icon-microphone:before {
	content: "\e843";
}
.icon-message_smiley:before {
	content: "\e844";
}
.icon-message_send:before {
	content: "\e845";
}
.icon-message_profanity:before {
	content: "\e846";
}
.icon-message:before {
	content: "\e847";
}
.icon-medical_pulse:before {
	content: "\e848";
}
.icon-medical_pill_broken:before {
	content: "\e849";
}
.icon-medical_pill:before {
	content: "\e84a";
}
.icon-measure_mile:before {
	content: "\e84b";
}
.icon-measure_meter:before {
	content: "\e84c";
}
.icon-measure_kilometer:before {
	content: "\e84d";
}
.icon-measure_inch:before {
	content: "\e84e";
}
.icon-measure_foot:before {
	content: "\e84f";
}
.icon-measure_farenheit:before {
	content: "\e850";
}
.icon-measure_centimeter:before {
	content: "\e851";
}
.icon-measure_celcius:before {
	content: "\e852";
}
.icon-marvel_shield_variant:before {
	content: "\e853";
}
.icon-marvel_shield:before {
	content: "\e854";
}
.icon-marvel_ironman_mask:before {
	content: "\e855";
}
.icon-marvel_ironman:before {
	content: "\e856";
}
.icon-marvel_captainamerica:before {
	content: "\e857";
}
.icon-marvel_avengers:before {
	content: "\e858";
}
.icon-martini:before {
	content: "\e859";
}
.icon-markup:before {
	content: "\e85a";
}
.icon-marketplace_old:before {
	content: "\e85b";
}
.icon-marketplace:before {
	content: "\e85c";
}
.icon-map_treasure:before {
	content: "\e85d";
}
.icon-map_satellite:before {
	content: "\e85e";
}
.icon-map_location_add:before {
	content: "\e85f";
}
.icon-map_location:before {
	content: "\e860";
}
.icon-map_gps:before {
	content: "\e861";
}
.icon-map_folds:before {
	content: "\e862";
}
.icon-map_aerial_highway:before {
	content: "\e863";
}
.icon-map_aerial:before {
	content: "\e864";
}
.icon-map:before {
	content: "\e865";
}
.icon-man_walk:before {
	content: "\e866";
}
.icon-man_suitcase_run:before {
	content: "\e867";
}
.icon-man_suitcase_fast:before {
	content: "\e868";
}
.icon-man_suitcase:before {
	content: "\e869";
}
.icon-man_sensor:before {
	content: "\e86a";
}
.icon-magnify_minus:before {
	content: "\e86b";
}
.icon-magnify_forward:before {
	content: "\e86c";
}
.icon-magnify_back:before {
	content: "\e86d";
}
.icon-magnify_arrow_up:before {
	content: "\e86e";
}
.icon-magnify_arrow_down:before {
	content: "\e86f";
}
.icon-magnify_add:before {
	content: "\e870";
}
.icon-magnify:before {
	content: "\e871";
}
.icon-loop:before {
	content: "\e872";
}
.icon-logic_or_add:before {
	content: "\e873";
}
.icon-logic_or:before {
	content: "\e874";
}
.icon-logic_and_add:before {
	content: "\e875";
}
.icon-logic_and:before {
	content: "\e876";
}
.icon-lock:before {
	content: "\e877";
}
.icon-location_round:before {
	content: "\e878";
}
.icon-location_minus:before {
	content: "\e879";
}
.icon-location_foursquare:before {
	content: "\e87a";
}
.icon-location_delete:before {
	content: "\e87b";
}
.icon-location_circle:before {
	content: "\e87c";
}
.icon-location_checkin:before {
	content: "\e87d";
}
.icon-location_add:before {
	content: "\e87e";
}
.icon-location:before {
	content: "\e87f";
}
.icon-list_two:before {
	content: "\e880";
}
.icon-list_star:before {
	content: "\e881";
}
.icon-list_select:before {
	content: "\e882";
}
.icon-list_reorder_up:before {
	content: "\e883";
}
.icon-list_reorder_down:before {
	content: "\e884";
}
.icon-list_reorder:before {
	content: "\e885";
}
.icon-list_one:before {
	content: "\e886";
}
.icon-list_merge:before {
	content: "\e887";
}
.icon-list_hidden:before {
	content: "\e888";
}
.icon-list_gear:before {
	content: "\e889";
}
.icon-list_delete_inline:before {
	content: "\e88a";
}
.icon-list_delete:before {
	content: "\e88b";
}
.icon-list_create:before {
	content: "\e88c";
}
.icon-list_check:before {
	content: "\e88d";
}
.icon-list_add_below:before {
	content: "\e88e";
}
.icon-list_add_above:before {
	content: "\e88f";
}
.icon-list_add:before {
	content: "\e890";
}
.icon-list:before {
	content: "\e891";
}
.icon-linkedin:before {
	content: "\e892";
}
.icon-link:before {
	content: "\e893";
}
.icon-lines_horizontal_4:before {
	content: "\e894";
}
.icon-lightning:before {
	content: "\e895";
}
.icon-lightbulb_hue_on:before {
	content: "\e896";
}
.icon-lightbulb_hue:before {
	content: "\e897";
}
.icon-lightbulb_coil:before {
	content: "\e898";
}
.icon-lightbulb:before {
	content: "\e899";
}
.icon-lifesaver:before {
	content: "\e89a";
}
.icon-leaderboard:before {
	content: "\e89b";
}
.icon-layout_sidebar:before {
	content: "\e89c";
}
.icon-layout_header:before {
	content: "\e89d";
}
.icon-layout_expand_right_variant:before {
	content: "\e89e";
}
.icon-layout_expand_right:before {
	content: "\e89f";
}
.icon-layout_expand_left_variant:before {
	content: "\e8a0";
}
.icon-layout_expand_left:before {
	content: "\e8a1";
}
.icon-layout_collapse_right_variant:before {
	content: "\e8a2";
}
.icon-layout_collapse_right:before {
	content: "\e8a3";
}
.icon-layout_collapse_left_variant:before {
	content: "\e8a4";
}
.icon-layout_collapse_left:before {
	content: "\e8a5";
}
.icon-layout_body:before {
	content: "\e8a6";
}
.icon-layout:before {
	content: "\e8a7";
}
.icon-layer_up:before {
	content: "\e8a8";
}
.icon-layer_thick:before {
	content: "\e8a9";
}
.icon-layer_perspective_up:before {
	content: "\e8aa";
}
.icon-layer_minus:before {
	content: "\e8ab";
}
.icon-layer_down:before {
	content: "\e8ac";
}
.icon-layer_delete:before {
	content: "\e8ad";
}
.icon-layer_arrange_solid_sendtoback:before {
	content: "\e8ae";
}
.icon-layer_arrange_solid_sendbackward:before {
	content: "\e8af";
}
.icon-layer_arrange_solid_bringtofront:before {
	content: "\e8b0";
}
.icon-layer_arrange_solid_bringforward:before {
	content: "\e8b1";
}
.icon-layer_arrange_sendtoback:before {
	content: "\e8b2";
}
.icon-layer_arrange_sendbackward:before {
	content: "\e8b3";
}
.icon-layer_arrange_bringtofront:before {
	content: "\e8b4";
}
.icon-layer_arrange_bringforward:before {
	content: "\e8b5";
}
.icon-layer_add:before {
	content: "\e8b6";
}
.icon-layer:before {
	content: "\e8b7";
}
.icon-lavalamp:before {
	content: "\e8b8";
}
.icon-language_python_text:before {
	content: "\e8b9";
}
.icon-language_python:before {
	content: "\e8ba";
}
.icon-language_java_text:before {
	content: "\e8bb";
}
.icon-language_java:before {
	content: "\e8bc";
}
.icon-language_csharp:before {
	content: "\e8bd";
}
.icon-lamp_variant:before {
	content: "\e8be";
}
.icon-lamp_desk_variant:before {
	content: "\e8bf";
}
.icon-lamp_desk:before {
	content: "\e8c0";
}
.icon-lamp:before {
	content: "\e8c1";
}
.icon-key_old:before {
	content: "\e8c2";
}
.icon-key:before {
	content: "\e8c3";
}
.icon-journal:before {
	content: "\e8c4";
}
.icon-iphone:before {
	content: "\e8c5";
}
.icon-interface_textbox:before {
	content: "\e8c6";
}
.icon-interface_password:before {
	content: "\e8c7";
}
.icon-interface_list:before {
	content: "\e8c8";
}
.icon-interface_dropdown:before {
	content: "\e8c9";
}
.icon-interface_button:before {
	content: "\e8ca";
}
.icon-input_question:before {
	content: "\e8cb";
}
.icon-input_pen_down:before {
	content: "\e8cc";
}
.icon-input_pen:before {
	content: "\e8cd";
}
.icon-input_keyboard_down:before {
	content: "\e8ce";
}
.icon-input_keyboard:before {
	content: "\e8cf";
}
.icon-input_down:before {
	content: "\e8d0";
}
.icon-input:before {
	content: "\e8d1";
}
.icon-information_circle:before {
	content: "\e8d2";
}
.icon-information:before {
	content: "\e8d3";
}
.icon-infinite:before {
	content: "\e8d4";
}
.icon-inbox_out:before {
	content: "\e8d5";
}
.icon-inbox_in:before {
	content: "\e8d6";
}
.icon-inbox:before {
	content: "\e8d7";
}
.icon-image_sunset:before {
	content: "\e8d8";
}
.icon-image_sports:before {
	content: "\e8d9";
}
.icon-image_snow:before {
	content: "\e8da";
}
.icon-image_select:before {
	content: "\e8db";
}
.icon-image_redeye:before {
	content: "\e8dc";
}
.icon-image_portrait:before {
	content: "\e8dd";
}
.icon-image_night_portrait:before {
	content: "\e8de";
}
.icon-image_night_person:before {
	content: "\e8df";
}
.icon-image_night_landscape:before {
	content: "\e8e0";
}
.icon-image_night:before {
	content: "\e8e1";
}
.icon-image_multiple:before {
	content: "\e8e2";
}
.icon-image_macro:before {
	content: "\e8e3";
}
.icon-image_landscape:before {
	content: "\e8e4";
}
.icon-image_hdr:before {
	content: "\e8e5";
}
.icon-image_gallery:before {
	content: "\e8e6";
}
.icon-image_focus:before {
	content: "\e8e7";
}
.icon-image_export:before {
	content: "\e8e8";
}
.icon-image_broken:before {
	content: "\e8e9";
}
.icon-image_beach:before {
	content: "\e8ea";
}
.icon-image_backlight:before {
	content: "\e8eb";
}
.icon-image_ants:before {
	content: "\e8ec";
}
.icon-image:before {
	content: "\e8ed";
}
.icon-ie:before {
	content: "\e8ee";
}
.icon-icecream_bar:before {
	content: "\e8ef";
}
.icon-hourglass:before {
	content: "\e8f0";
}
.icon-home_variant_leave:before {
	content: "\e8f1";
}
.icon-home_variant_enter:before {
	content: "\e8f2";
}
.icon-home_variant:before {
	content: "\e8f3";
}
.icon-home_question:before {
	content: "\e8f4";
}
.icon-home_people_none:before {
	content: "\e8f5";
}
.icon-home_people:before {
	content: "\e8f6";
}
.icon-home_location_round:before {
	content: "\e8f7";
}
.icon-home_location_pin:before {
	content: "\e8f8";
}
.icon-home_gps:before {
	content: "\e8f9";
}
.icon-home_garage_open:before {
	content: "\e8fa";
}
.icon-home_garage_arrow_open:before {
	content: "\e8fb";
}
.icon-home_garage_arrow_close:before {
	content: "\e8fc";
}
.icon-home_garage:before {
	content: "\e8fd";
}
.icon-home_empty:before {
	content: "\e8fe";
}
.icon-home:before {
	content: "\e8ff";
}
.icon-heart_outline:before {
	content: "\e900";
}
.icon-heart_cross:before {
	content: "\e901";
}
.icon-heart_break:before {
	content: "\e902";
}
.icon-heart:before {
	content: "\e903";
}
.icon-hat_santa:before {
	content: "\e904";
}
.icon-hardware_mouse:before {
	content: "\e905";
}
.icon-hardware_headset:before {
	content: "\e906";
}
.icon-hardware_headphones_bluetooth:before {
	content: "\e907";
}
.icon-hardware_headphones:before {
	content: "\e908";
}
.icon-hardware_cpu:before {
	content: "\e909";
}
.icon-handicap_out:before {
	content: "\e90a";
}
.icon-handicap_in:before {
	content: "\e90b";
}
.icon-handicap:before {
	content: "\e90c";
}
.icon-group_minus:before {
	content: "\e90d";
}
.icon-group_delete:before {
	content: "\e90e";
}
.icon-group_add:before {
	content: "\e90f";
}
.icon-group:before {
	content: "\e910";
}
.icon-grid:before {
	content: "\e911";
}
.icon-greek_sigma_uppercase:before {
	content: "\e912";
}
.icon-greek_sigma_lowercase:before {
	content: "\e913";
}
.icon-graph_line_up:before {
	content: "\e914";
}
.icon-graph_line_down:before {
	content: "\e915";
}
.icon-graph_line:before {
	content: "\e916";
}
.icon-graph_histogram_description:before {
	content: "\e917";
}
.icon-graph_histogram:before {
	content: "\e918";
}
.icon-graph_boxplot:before {
	content: "\e919";
}
.icon-graph_bar:before {
	content: "\e91a";
}
.icon-grade_f:before {
	content: "\e91b";
}
.icon-grade_e:before {
	content: "\e91c";
}
.icon-grade_d_plus:before {
	content: "\e91d";
}
.icon-grade_d_minus:before {
	content: "\e91e";
}
.icon-grade_d:before {
	content: "\e91f";
}
.icon-grade_c_plus:before {
	content: "\e920";
}
.icon-grade_c_minus:before {
	content: "\e921";
}
.icon-grade_c:before {
	content: "\e922";
}
.icon-grade_b_plus:before {
	content: "\e923";
}
.icon-grade_b_minus:before {
	content: "\e924";
}
.icon-grade_b:before {
	content: "\e925";
}
.icon-grade_a_plus:before {
	content: "\e926";
}
.icon-grade_a_minus:before {
	content: "\e927";
}
.icon-grade_a:before {
	content: "\e928";
}
.icon-googleplus:before {
	content: "\e929";
}
.icon-google:before {
	content: "\e92a";
}
.icon-globe_wire:before {
	content: "\e92b";
}
.icon-globe:before {
	content: "\e92c";
}
.icon-gift:before {
	content: "\e92d";
}
.icon-gender_male:before {
	content: "\e92e";
}
.icon-gender_female:before {
	content: "\e92f";
}
.icon-gender_both:before {
	content: "\e930";
}
.icon-gauge_100:before {
	content: "\e931";
}
.icon-gauge_75:before {
	content: "\e932";
}
.icon-gauge_50:before {
	content: "\e933";
}
.icon-gauge_25:before {
	content: "\e934";
}
.icon-gauge_0:before {
	content: "\e935";
}
.icon-gas:before {
	content: "\e936";
}
.icon-futurama_fry:before {
	content: "\e937";
}
.icon-futurama_bender:before {
	content: "\e938";
}
.icon-fullscreen_box:before {
	content: "\e939";
}
.icon-fullscreen:before {
	content: "\e93a";
}
.icon-forsale:before {
	content: "\e93b";
}
.icon-forrst:before {
	content: "\e93c";
}
.icon-form_editable:before {
	content: "\e93d";
}
.icon-form_basic:before {
	content: "\e93e";
}
.icon-forklift_load:before {
	content: "\e93f";
}
.icon-forklift:before {
	content: "\e940";
}
.icon-foot:before {
	content: "\e941";
}
.icon-food_silverware_cross:before {
	content: "\e942";
}
.icon-food_silverware:before {
	content: "\e943";
}
.icon-food_apple:before {
	content: "\e944";
}
.icon-food:before {
	content: "\e945";
}
.icon-folder_star:before {
	content: "\e946";
}
.icon-folder_puzzle:before {
	content: "\e947";
}
.icon-folder_people:before {
	content: "\e948";
}
.icon-folder_open:before {
	content: "\e949";
}
.icon-folder_lock:before {
	content: "\e94a";
}
.icon-folder_ellipsis:before {
	content: "\e94b";
}
.icon-folder:before {
	content: "\e94c";
}
.icon-flag_wavy:before {
	content: "\e94d";
}
.icon-flag_texas:before {
	content: "\e94e";
}
.icon-flag_bear:before {
	content: "\e94f";
}
.icon-flag:before {
	content: "\e950";
}
.icon-fingerprint:before {
	content: "\e951";
}
.icon-finder:before {
	content: "\e952";
}
.icon-filter:before {
	content: "\e953";
}
.icon-film_select:before {
	content: "\e954";
}
.icon-film_live:before {
	content: "\e955";
}
.icon-film:before {
	content: "\e956";
}
.icon-ferry:before {
	content: "\e957";
}
.icon-fan_box:before {
	content: "\e958";
}
.icon-facebook_disconnect:before {
	content: "\e959";
}
.icon-facebook_connect:before {
	content: "\e95a";
}
.icon-eye_hide:before {
	content: "\e95b";
}
.icon-eye:before {
	content: "\e95c";
}
.icon-email_yahoo:before {
	content: "\e95d";
}
.icon-email_outlook:before {
	content: "\e95e";
}
.icon-email_minimal:before {
	content: "\e95f";
}
.icon-email_hardedge:before {
	content: "\e960";
}
.icon-email_gmail:before {
	content: "\e961";
}
.icon-email:before {
	content: "\e962";
}
.icon-elevator_up:before {
	content: "\e963";
}
.icon-elevator_down:before {
	content: "\e964";
}
.icon-edit:before {
	content: "\e965";
}
.icon-dropper:before {
	content: "\e966";
}
.icon-draw_pixel_grid:before {
	content: "\e967";
}
.icon-draw_pixel_fill_grid:before {
	content: "\e968";
}
.icon-draw_pencil_reflection:before {
	content: "\e969";
}
.icon-draw_pencil:before {
	content: "\e96a";
}
.icon-draw_pen_reflection:before {
	content: "\e96b";
}
.icon-draw_pen_minus:before {
	content: "\e96c";
}
.icon-draw_pen_add:before {
	content: "\e96d";
}
.icon-draw_pen:before {
	content: "\e96e";
}
.icon-draw_paintbrush:before {
	content: "\e96f";
}
.icon-draw_marker_reflection:before {
	content: "\e970";
}
.icon-draw_marker:before {
	content: "\e971";
}
.icon-draw_button:before {
	content: "\e972";
}
.icon-draw_brush_reflection:before {
	content: "\e973";
}
.icon-draw_brush:before {
	content: "\e974";
}
.icon-drafting_centerline:before {
	content: "\e975";
}
.icon-download:before {
	content: "\e976";
}
.icon-door_lock_open:before {
	content: "\e977";
}
.icon-door_lock_closed:before {
	content: "\e978";
}
.icon-door_leave:before {
	content: "\e979";
}
.icon-door_enter:before {
	content: "\e97a";
}
.icon-dnd:before {
	content: "\e97b";
}
.icon-disk_download:before {
	content: "\e97c";
}
.icon-disk:before {
	content: "\e97d";
}
.icon-disconnect:before {
	content: "\e97e";
}
.icon-directions:before {
	content: "\e97f";
}
.icon-dimension_line_width_short:before {
	content: "\e980";
}
.icon-dimension_line_width:before {
	content: "\e981";
}
.icon-dimension_line_height_short:before {
	content: "\e982";
}
.icon-dimension_line_height:before {
	content: "\e983";
}
.icon-dimension_box_width:before {
	content: "\e984";
}
.icon-dimension_box_height:before {
	content: "\e985";
}
.icon-dimension_arrow_line_width_thick:before {
	content: "\e986";
}
.icon-dimension_arrow_line_width_short:before {
	content: "\e987";
}
.icon-dimension_arrow_line_width:before {
	content: "\e988";
}
.icon-dimension_arrow_line_height_thick:before {
	content: "\e989";
}
.icon-dimension_arrow_line_height_short:before {
	content: "\e98a";
}
.icon-dimension_arrow_line_height:before {
	content: "\e98b";
}
.icon-dimension_arrow_box_width:before {
	content: "\e98c";
}
.icon-dimension_arrow_box_height:before {
	content: "\e98d";
}
.icon-dial:before {
	content: "\e98e";
}
.icon-diagram:before {
	content: "\e98f";
}
.icon-devcenter:before {
	content: "\e990";
}
.icon-delete:before {
	content: "\e991";
}
.icon-deeplink_round:before {
	content: "\e992";
}
.icon-deeplink:before {
	content: "\e993";
}
.icon-debug_stop:before {
	content: "\e994";
}
.icon-debug_step_over:before {
	content: "\e995";
}
.icon-debug_step_out:before {
	content: "\e996";
}
.icon-debug_step_into:before {
	content: "\e997";
}
.icon-debug_restart:before {
	content: "\e998";
}
.icon-database:before {
	content: "\e999";
}
.icon-customerservice:before {
	content: "\e99a";
}
.icon-cusor_pointer:before {
	content: "\e99b";
}
.icon-cursor_move:before {
	content: "\e99c";
}
.icon-cursor_information:before {
	content: "\e99d";
}
.icon-cursor_hand:before {
	content: "\e99e";
}
.icon-cursor_default_transform_horizontal:before {
	content: "\e99f";
}
.icon-cursor_default_outline:before {
	content: "\e9a0";
}
.icon-cursor_default:before {
	content: "\e9a1";
}
.icon-currency_yen:before {
	content: "\e9a2";
}
.icon-currency_rupee:before {
	content: "\e9a3";
}
.icon-currency_rubles:before {
	content: "\e9a4";
}
.icon-currency_pound:before {
	content: "\e9a5";
}
.icon-currency_grivna:before {
	content: "\e9a6";
}
.icon-currency_euro:before {
	content: "\e9a7";
}
.icon-currency_dollar_free:before {
	content: "\e9a8";
}
.icon-currency_dollar:before {
	content: "\e9a9";
}
.icon-currency_cent:before {
	content: "\e9aa";
}
.icon-cupcake:before {
	content: "\e9ab";
}
.icon-cup_paper:before {
	content: "\e9ac";
}
.icon-cup_half:before {
	content: "\e9ad";
}
.icon-cup_full:before {
	content: "\e9ae";
}
.icon-cup_empty:before {
	content: "\e9af";
}
.icon-cup:before {
	content: "\e9b0";
}
.icon-crown:before {
	content: "\e9b1";
}
.icon-crosshair:before {
	content: "\e9b2";
}
.icon-crop:before {
	content: "\e9b3";
}
.icon-creditcard:before {
	content: "\e9b4";
}
.icon-creativecommons:before {
	content: "\e9b5";
}
.icon-coupon:before {
	content: "\e9b6";
}
.icon-corner:before {
	content: "\e9b7";
}
.icon-copyright:before {
	content: "\e9b8";
}
.icon-controller_xbox:before {
	content: "\e9b9";
}
.icon-controller_snes:before {
	content: "\e9ba";
}
.icon-control_stop:before {
	content: "\e9bb";
}
.icon-control_rewind:before {
	content: "\e9bc";
}
.icon-control_resume:before {
	content: "\e9bd";
}
.icon-control_play_live:before {
	content: "\e9be";
}
.icon-control_play:before {
	content: "\e9bf";
}
.icon-control_pause:before {
	content: "\e9c0";
}
.icon-control_guide:before {
	content: "\e9c1";
}
.icon-control_fastforward:before {
	content: "\e9c2";
}
.icon-control_eject:before {
	content: "\e9c3";
}
.icon-contrast:before {
	content: "\e9c4";
}
.icon-console:before {
	content: "\e9c5";
}
.icon-connection_wifi_variant:before {
	content: "\e9c6";
}
.icon-connection_wifi:before {
	content: "\e9c7";
}
.icon-connection_quality_verylow:before {
	content: "\e9c8";
}
.icon-connection_quality_veryhigh:before {
	content: "\e9c9";
}
.icon-connection_quality_medium:before {
	content: "\e9ca";
}
.icon-connection_quality_low:before {
	content: "\e9cb";
}
.icon-connection_quality_high:before {
	content: "\e9cc";
}
.icon-connection_ev:before {
	content: "\e9cd";
}
.icon-connection_bluetooth:before {
	content: "\e9ce";
}
.icon-connection_4g:before {
	content: "\e9cf";
}
.icon-connection_3g:before {
	content: "\e9d0";
}
.icon-connection_1x:before {
	content: "\e9d1";
}
.icon-connect:before {
	content: "\e9d2";
}
.icon-confirm_yes_no:before {
	content: "\e9d3";
}
.icon-cone_diagonal:before {
	content: "\e9d4";
}
.icon-cone:before {
	content: "\e9d5";
}
.icon-companioncube:before {
	content: "\e9d6";
}
.icon-column_two:before {
	content: "\e9d7";
}
.icon-column_three:before {
	content: "\e9d8";
}
.icon-column_one:before {
	content: "\e9d9";
}
.icon-cogs:before {
	content: "\e9da";
}
.icon-cog:before {
	content: "\e9db";
}
.icon-code_xml:before {
	content: "\e9dc";
}
.icon-cloudirc:before {
	content: "\e9dd";
}
.icon-cloud_upload:before {
	content: "\e9de";
}
.icon-cloud_play:before {
	content: "\e9df";
}
.icon-cloud_pause:before {
	content: "\e9e0";
}
.icon-cloud_download:before {
	content: "\e9e1";
}
.icon-cloud_delete:before {
	content: "\e9e2";
}
.icon-cloud_add:before {
	content: "\e9e3";
}
.icon-cloud:before {
	content: "\e9e4";
}
.icon-clothes_tie:before {
	content: "\e9e5";
}
.icon-clothes_shirt:before {
	content: "\e9e6";
}
.icon-closedcaption_off:before {
	content: "\e9e7";
}
.icon-closedcaption:before {
	content: "\e9e8";
}
.icon-close:before {
	content: "\e9e9";
}
.icon-clock:before {
	content: "\e9ea";
}
.icon-clipboard_variant_text:before {
	content: "\e9eb";
}
.icon-clipboard_variant_edit:before {
	content: "\e9ec";
}
.icon-clipboard_variant:before {
	content: "\e9ed";
}
.icon-clipboard_paste:before {
	content: "\e9ee";
}
.icon-clipboard_paper_check:before {
	content: "\e9ef";
}
.icon-clipboard_paper:before {
	content: "\e9f0";
}
.icon-clipboard:before {
	content: "\e9f1";
}
.icon-clear_reflect_horizontal:before {
	content: "\e9f2";
}
.icon-clear_inverse_reflect_horizontal:before {
	content: "\e9f3";
}
.icon-clear_inverse:before {
	content: "\e9f4";
}
.icon-clear:before {
	content: "\e9f5";
}
.icon-clean:before {
	content: "\e9f6";
}
.icon-city_seattle:before {
	content: "\e9f7";
}
.icon-city_sanfrancisco:before {
	content: "\e9f8";
}
.icon-city_chicago:before {
	content: "\e9f9";
}
.icon-city:before {
	content: "\e9fa";
}
.icon-church:before {
	content: "\e9fb";
}
.icon-chromakey:before {
	content: "\e9fc";
}
.icon-chevron_up:before {
	content: "\e9fd";
}
.icon-chevron_right:before {
	content: "\e9fe";
}
.icon-chevron_left:before {
	content: "\e9ff";
}
.icon-chevron_down:before {
	content: "\ea00";
}
.icon-chess_rook:before {
	content: "\ea01";
}
.icon-chess_queen:before {
	content: "\ea02";
}
.icon-chess_pawn:before {
	content: "\ea03";
}
.icon-chess_king:before {
	content: "\ea04";
}
.icon-chess_horse:before {
	content: "\ea05";
}
.icon-chess_bishop:before {
	content: "\ea06";
}
.icon-checkmark_uncrossed:before {
	content: "\ea07";
}
.icon-checkmark_thick_unchecked:before {
	content: "\ea08";
}
.icon-checkmark_thick:before {
	content: "\ea09";
}
.icon-checkmark_pencil_top:before {
	content: "\ea0a";
}
.icon-checkmark_pencil:before {
	content: "\ea0b";
}
.icon-checkmark_cross:before {
	content: "\ea0c";
}
.icon-checkmark:before {
	content: "\ea0d";
}
.icon-check:before {
	content: "\ea0e";
}
.icon-chat:before {
	content: "\ea0f";
}
.icon-centerline:before {
	content: "\ea10";
}
.icon-cell_up:before {
	content: "\ea11";
}
.icon-cell_row_delete:before {
	content: "\ea12";
}
.icon-cell_merge:before {
	content: "\ea13";
}
.icon-cell_insert_below:before {
	content: "\ea14";
}
.icon-cell_insert_above:before {
	content: "\ea15";
}
.icon-cell_function:before {
	content: "\ea16";
}
.icon-cell_down:before {
	content: "\ea17";
}
.icon-cell_column_delete:before {
	content: "\ea18";
}
.icon-cell_align:before {
	content: "\ea19";
}
.icon-cd_eject:before {
	content: "\ea1a";
}
.icon-cd:before {
	content: "\ea1b";
}
.icon-cart:before {
	content: "\ea1c";
}
.icon-cards_spade:before {
	content: "\ea1d";
}
.icon-cards_heart:before {
	content: "\ea1e";
}
.icon-cards_diamond:before {
	content: "\ea1f";
}
.icon-cards_club:before {
	content: "\ea20";
}
.icon-card_9:before {
	content: "\ea21";
}
.icon-card_8:before {
	content: "\ea22";
}
.icon-card_7:before {
	content: "\ea23";
}
.icon-card_6:before {
	content: "\ea24";
}
.icon-card_5:before {
	content: "\ea25";
}
.icon-card_4:before {
	content: "\ea26";
}
.icon-card_3:before {
	content: "\ea27";
}
.icon-card_2:before {
	content: "\ea28";
}
.icon-card_1:before {
	content: "\ea29";
}
.icon-card:before {
	content: "\ea2a";
}
.icon-candy_cane:before {
	content: "\ea2b";
}
.icon-candle:before {
	content: "\ea2c";
}
.icon-cancel:before {
	content: "\ea2d";
}
.icon-camera_switch_invert:before {
	content: "\ea2e";
}
.icon-camera_switch:before {
	content: "\ea2f";
}
.icon-camera_send:before {
	content: "\ea30";
}
.icon-camera_flash_selected:before {
	content: "\ea31";
}
.icon-camera_flash_off_selected:before {
	content: "\ea32";
}
.icon-camera_flash_off:before {
	content: "\ea33";
}
.icon-camera_flash_auto_selected:before {
	content: "\ea34";
}
.icon-camera_flash_auto:before {
	content: "\ea35";
}
.icon-camera_flash:before {
	content: "\ea36";
}
.icon-camera_auto:before {
	content: "\ea37";
}
.icon-camera:before {
	content: "\ea38";
}
.icon-calendar_year:before {
	content: "\ea39";
}
.icon-calendar_week:before {
	content: "\ea3a";
}
.icon-calendar_tomorrow:before {
	content: "\ea3b";
}
.icon-calendar_range:before {
	content: "\ea3c";
}
.icon-calendar_month:before {
	content: "\ea3d";
}
.icon-calendar_future:before {
	content: "\ea3e";
}
.icon-calendar_dollar:before {
	content: "\ea3f";
}
.icon-calendar_day:before {
	content: "\ea40";
}
.icon-calendar_31:before {
	content: "\ea41";
}
.icon-calendar_14:before {
	content: "\ea42";
}
.icon-calendar:before {
	content: "\ea43";
}
.icon-calculator:before {
	content: "\ea44";
}
.icon-cabinet_variant:before {
	content: "\ea45";
}
.icon-cabinet_out:before {
	content: "\ea46";
}
.icon-cabinet_in:before {
	content: "\ea47";
}
.icon-cabinet_files_variant:before {
	content: "\ea48";
}
.icon-cabinet_files:before {
	content: "\ea49";
}
.icon-cabinet:before {
	content: "\ea4a";
}
.icon-bug_remove:before {
	content: "\ea4b";
}
.icon-bug:before {
	content: "\ea4c";
}
.icon-browser_wire:before {
	content: "\ea4d";
}
.icon-browser_ie:before {
	content: "\ea4e";
}
.icon-browser_chrome:before {
	content: "\ea4f";
}
.icon-browser:before {
	content: "\ea50";
}
.icon-box_unfolded:before {
	content: "\ea51";
}
.icon-box_layered:before {
	content: "\ea52";
}
.icon-box:before {
	content: "\ea53";
}
.icon-border_vertical:before {
	content: "\ea54";
}
.icon-border_top:before {
	content: "\ea55";
}
.icon-border_right:before {
	content: "\ea56";
}
.icon-border_outside:before {
	content: "\ea57";
}
.icon-border_none:before {
	content: "\ea58";
}
.icon-border_left:before {
	content: "\ea59";
}
.icon-border_inner:before {
	content: "\ea5a";
}
.icon-border_horizontal:before {
	content: "\ea5b";
}
.icon-border_bottom:before {
	content: "\ea5c";
}
.icon-border_all:before {
	content: "\ea5d";
}
.icon-book_side:before {
	content: "\ea5e";
}
.icon-book_perspective_help:before {
	content: "\ea5f";
}
.icon-book_perspective:before {
	content: "\ea60";
}
.icon-book_open_text_image:before {
	content: "\ea61";
}
.icon-book_open_text:before {
	content: "\ea62";
}
.icon-book_open_information:before {
	content: "\ea63";
}
.icon-book_open:before {
	content: "\ea64";
}
.icon-book_list:before {
	content: "\ea65";
}
.icon-book_hardcover_open_writing:before {
	content: "\ea66";
}
.icon-book_hardcover_open:before {
	content: "\ea67";
}
.icon-book_contact:before {
	content: "\ea68";
}
.icon-book:before {
	content: "\ea69";
}
.icon-bing:before {
	content: "\ea6a";
}
.icon-billboard:before {
	content: "\ea6b";
}
.icon-bike_parking:before {
	content: "\ea6c";
}
.icon-bike:before {
	content: "\ea6d";
}
.icon-beer_guinness:before {
	content: "\ea6e";
}
.icon-beer:before {
	content: "\ea6f";
}
.icon-bed:before {
	content: "\ea70";
}
.icon-battery_3:before {
	content: "\ea71";
}
.icon-battery_2:before {
	content: "\ea72";
}
.icon-battery_1:before {
	content: "\ea73";
}
.icon-battery_0:before {
	content: "\ea74";
}
.icon-bath:before {
	content: "\ea75";
}
.icon-base_select:before {
	content: "\ea76";
}
.icon-base:before {
	content: "\ea77";
}
.icon-barcode:before {
	content: "\ea78";
}
.icon-baby:before {
	content: "\ea79";
}
.icon-axis_three:before {
	content: "\ea7a";
}
.icon-at:before {
	content: "\ea7b";
}
.icon-arrow_up_down:before {
	content: "\ea7c";
}
.icon-arrow_up:before {
	content: "\ea7d";
}
.icon-arrow_right_left:before {
	content: "\ea7e";
}
.icon-arrow_right:before {
	content: "\ea7f";
}
.icon-arrow_left_right:before {
	content: "\ea80";
}
.icon-arrow_left:before {
	content: "\ea81";
}
.icon-arrow_expand:before {
	content: "\ea82";
}
.icon-arrow_down_up:before {
	content: "\ea83";
}
.icon-arrow_down:before {
	content: "\ea84";
}
.icon-arrow_corner_up_right:before {
	content: "\ea85";
}
.icon-arrow_collapsed:before {
	content: "\ea86";
}
.icon-archive:before {
	content: "\ea87";
}
.icon-arcade_button:before {
	content: "\ea88";
}
.icon-app_remove:before {
	content: "\ea89";
}
.icon-app_plus:before {
	content: "\ea8a";
}
.icon-app_minus:before {
	content: "\ea8b";
}
.icon-app_favorite:before {
	content: "\ea8c";
}
.icon-app:before {
	content: "\ea8d";
}
.icon-anchor:before {
	content: "\ea8e";
}
.icon-align_right:before {
	content: "\ea8f";
}
.icon-align_left:before {
	content: "\ea90";
}
.icon-align_justify:before {
	content: "\ea91";
}
.icon-align_center:before {
	content: "\ea92";
}
.icon-alien:before {
	content: "\ea93";
}
.icon-alert:before {
	content: "\ea94";
}
.icon-adobe_speedgrade:before {
	content: "\ea95";
}
.icon-adobe_premierpro:before {
	content: "\ea96";
}
.icon-adobe_prelude:before {
	content: "\ea97";
}
.icon-adobe_photoshop:before {
	content: "\ea98";
}
.icon-adobe_lightroom:before {
	content: "\ea99";
}
.icon-adobe_indesign:before {
	content: "\ea9a";
}
.icon-adobe_illustrator:before {
	content: "\ea9b";
}
.icon-adobe_flashbuilder:before {
	content: "\ea9c";
}
.icon-adobe_flash:before {
	content: "\ea9d";
}
.icon-adobe_fireworks:before {
	content: "\ea9e";
}
.icon-adobe_encore:before {
	content: "\ea9f";
}
.icon-adobe_dreamweaver:before {
	content: "\eaa0";
}
.icon-adobe_bridge:before {
	content: "\eaa1";
}
.icon-adobe_audition:before {
	content: "\eaa2";
}
.icon-adobe_aftereffects:before {
	content: "\eaa3";
}
.icon-adobe_acrobat:before {
	content: "\eaa4";
}
.icon-add:before {
	content: "\eaa5";
}
.icon-acorn:before {
	content: "\eaa6";
}
.icon-custom_user_merge:before {
	content: "\eaa7";
}
.icon-custom_tablet:before {
	content: "\eaa8";
}
.icon-custom_smartphone:before {
	content: "\eaa9";
}
.icon-custom_laptop:before {
	content: "\eaaa";
}
.icon-custom_excel_full:before {
	content: "\eaab";
}
.icon-custom_chevron_up_double:before {
	content: "\eaac";
}
.icon-custom_chevron_right_double:before {
	content: "\eaad";
}
.icon-custom_chevron_left_double:before {
	content: "\eaae";
}
.icon-custom_chevron_down_double:before {
	content: "\eaaf";
}
